{{#> layout title='Register'}}
<main>
  <section class="register-container">
    <form id="registerForm" action="/register" method="post" class="register-form">
      <h1>Register</h1>

      <div class="input-box">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required />
      </div>
      <div class="input-box">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email address" required />
      </div>
      <div class="input-box">
        <label for="password">Password</label>
        <div class="password-container">
          <input type="password" id="password" name="password" placeholder="Password" required />
          <button class="btn btn-outline-secondary password-toggle" type="button" id="togglePassword">
            <i class="fa-solid fa-eye" id="eye-icon"></i>
          </button>
        </div>
        <h6 class="mt-2 fw-normal"><i>Create a password with:
            <ul>
              <li>At least 8 characters.</li>
              <li>At least one uppercase letter (A-Z).</li>
              <li>At least one lowercase letter (a-z).</li>
              <li>At least one number (0-9).</li>
              <li>At least one special character (e.g., @, #, $, %, etc.)</li>
            </ul>
          </i></h6>
      </div>

      {{#if messages.error}}
      <div class="alert alert-danger mt-3" role="alert">
        {{messages.error}}
      </div>
      {{/if}}


      <button type="button" id="saveRegist" class="register-btn">Submit</button>
    </form>
  </section>

</main>
<script src="/assets/js/saveRegist.js"></script>
{{/layout}}