{{#> layout title='Home' user=user}}
<div class="profile-container">
  <div class="about">
    <h1>Hi Welcome to my hut</h1>
    <p>
      I am a fresh graduate with a strong enthusiasm for the field of
      information
      technology. With a solid educational background in Computer Science, I possess extensive knowledge of computer
      systems,
      networks, and software applications.My problem-solving and analytical skills in IT matters are excellent,
      supported by
      effective communication skills, both verbally and in writing. I have a good understanding of front-end
      technologies such
      as HTML, CSS, and JavaScript, and I possess website development skills, particularly using WordPress.
    </p>
    <div class="btn-grup">
      <a href="mailto:iqbalmhasby54@gmail.com" class="btn-contact">Contact</a>
      <a href="https://drive.usercontent.google.com/download?id=16ghmvJ9dKO86tw5oP3w96R9JQs6Knydv&export=download&authuser=0&confirm=t&uuid=5789f477-fa1c-465b-a4a0-d1f78772aa1a&at=AENtkXaWa2qV_6zp8VxsN0QAdB_6:1733158632176"
        download="" class="btn-cv">download CV <i class="fa-solid fa-download"></i></a>
    </div>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/iqbalmhasbi/" target="_blank"><img src="assets/images/linkedin.png" alt=""
          srcset="" /></a>
      <a href="https://www.instagram.com/balhsby14/" target="_blank"><img src="assets/images/instagram.png" alt=""
          srcset="" /></a>
      <a href="https://www.facebook.com/iqbal.mhasby.5" target="_blank"><img src="assets/images/facebook.png" alt=""
          srcset="" /></a>
      <a href="https://twitter.com/HMiku09" target="_blank"><img src="assets/images/twitter.png" alt="" srcset="" /></a>
    </div>
  </div>

  <div class="profile-card">
    <img src="assets/images/iqbal.jpg" />
    <h3>Iqbal Muhammad Hasbi</h3>
    <p>Fullstack Developer</p>
  </div>
</div>

{{/layout}}